.edit-topic-page {
    h1 {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-bottom: 2rem;
    }

    .btn-container {
        display: flex;
    }

    .save-btn {
        margin-left: auto;
    }

    .field {
        margin-bottom: 4rem;
    }

    .field-label {
        margin-bottom: 1rem;
    }
}