.edit-topic-page {
    .btn-container {
        display: flex;
    }

    .save-btn {
        margin-left: auto;
    }

    .field {
        margin: 4rem 0;
    }

    .field-label {
        margin-bottom: 1rem;
    }
}