.edit-topic-page {
    .page-header {
        h1 {
            margin: 0;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-bottom: 2rem;
    }

    .btn-container {
        display: flex;
    }

    .save-btn {
        margin-left: auto;
    }

    .field {
        margin-bottom: 4rem;
    }

    .field-label {
        margin-bottom: 1rem;
    }
    
    label {
        margin-right: 2rem;
    }
}