.login-page {
    .login-form {
        margin-top: 5rem;
    }

    .btn-container {
        display: flex;
    }

    .login-btn {
        margin: 2rem 0 2rem auto;
        align-self: flex-end; 
    }
}
