.login-page {
    max-width: 60rem;

    .page-title {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    .login-form {
        margin-top: 5rem;
    }

    .btn-container {
        display: flex;
    }

    .login-btn {
        margin: 2rem 0 2rem auto;
    }
}
