option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    ProxyServer: nginx
    GzipCompression: true
    NodeCommand: "npm start"

  aws:elasticbeanstalk:application:environment:
    REACT_APP_SERVICE_URL: http://voteapp-env.3u6nmtzmda.eu-central-1.elasticbeanstalk.com
    NODE_ENV: production

  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /web: /api/www
