option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    ProxyServer: nginx
    GzipCompression: true
    NodeCommand: "npm start"

  aws:elasticbeanstalk:application:environment:
    SERVICE_URL: http://vote-app.eu-central-1.elasticbeanstalk.com
    NODE_ENV: production

  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /: /web/build
