option_settings:

  aws:elasticbeanstalk:application:environment:
    XXX_ENV: xxx_env
    YYY: yyy
    NODE_ENV: production

  aws:elasticbeanstalk:container:nodejs: 
    NodeCommand: npm start
    ProxyServer: apache
    GzipCompression: false

  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /www: www/static