option_settings:

  aws:elasticbeanstalk:application:environment:
    XXX_ENV: xxx_env
    YYY: yyy
    NODE_ENV: production

  aws:elasticbeanstalk:container:nodejs: 
    ProxyServer: nginx
    GzipCompression: true
    NodeCommand: "npm run prod"

  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /www: www/static