.vote-page h1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem; }

.vote-page .candidate-item {
  display: flex;
  margin: 2rem 0;
  align-items: center; }
  .vote-page .candidate-item .votes-count {
    width: 6rem;
    display: flex;
    align-items: center; }
    .vote-page .candidate-item .votes-count .count {
      background-color: rgba(0, 0, 0, 0.3);
      padding: .4rem 1rem;
      border-radius: .3rem;
      color: #fff; }
  .vote-page .candidate-item .candidate-name {
    flex: 1; }
  .vote-page .candidate-item .vote-btn {
    margin-left: 2rem;
    cursor: pointer; }

.vote-page .is-voted {
  font-weight: bold; }
